:root {
	/*------| 
	| Colors 
	------*/

	/* Text */
	/* Primary */
	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);
	/* Neutral */
	--Very-dark-grayish-blue: hsl(237, 12%, 33%);
	--Dark-grayish-blue: hsl(240, 6%, 50%);

	/* Background gradient: */
	/* Gradient */
	--Soft-violet: hsl(273, 75%, 66%);
	--Soft-blue: hsl(240, 73%, 65%);
	--Withe: #FFFFFF;

	/* Dividers */
	--Light-grayish-blue: hsl(240, 5%, 91%);
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--Soft-violet);
	background: linear-gradient(180deg, var(--Soft-violet) 0%, var(--Soft-blue) 86%);	
	font-size: .75rem;
	font-family: 'Kumbh Sans', sans-serif;
}

img {
	display: block;
	width: 100%;
}

.flex-row {
	display: flex;
}

.component__card-container {
	position: relative;
	padding: 2rem 2rem 2rem 0;
	flex-wrap: wrap;
	width: 43.75rem;
	background-color: var(--Withe);
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	box-shadow: 1px 10px 30px 10px rgba(0, 0, 0, .3);
}

/* Illustration */
.illustration {
	align-items: center;
	width: 50%;
}

.illustrations__containers {
	position: relative;
	align-items: center;
}

.illustration__box-container {
	position: absolute;
	bottom: 3rem;
	left: -4rem;
	width: 10em;
}

.illustration__woman-container {
	width: 25rem;
	overflow: hidden;
}

.illustration__woman-container .woman {
	margin-left: -4rem;
}

/* Accordion */
.accordion__section {
	width: 50%;
}

.title__accordion-menu {
	font-size: 2em;
	font-weight: 700;
}

.accordion__menus-titles {
	align-items: center;
	justify-content: space-between;
	font-size: 1em;
	font-weight: 400;
	color: var(--Very-dark-desaturated-blue);
	padding-bottom: 1rem;
	margin-bottom: 1px;
	border-bottom: 1px solid var(--Light-grayish-blue);
	cursor: pointer;
}

.accordion__menus-titles-active {
	font-weight: 700;
}

.illustration__arrow {
	width: .625rem;
}

.accordion__menu-information {
	display: none;
}

.active {
	display: block;
}

.accordion__menu-information .information__text {
	color: var(--Dark-grayish-blue);
	font-size: .88em;
	font-weight: 400;
}

/* Queries */
@media screen and (min-width: 375px) and (max-width: 820px) {
	.component__card-container {
	flex-direction: column;
	padding: 1.5rem;
	width: 290px;
	margin: 10rem 0;
}

.illustration {
	width: 100%;
}

.illustration,
.illustrations__containers {
	justify-content: center;
}


.illustration__box-container {
	position: absolute;
	bottom: 1.6rem;
	left: 1px;
	width: 7.5em;
}


.illustration__woman-container {
	width: 15rem;
	overflow: visible;
}

.illustration__woman-container .woman {
	margin-top: -8rem;
	margin-left: 0rem;
}

.title__accordion-menu {
	text-align: center;
}

.accordion__section {
	width: 100%;
}

}
